{% load i18n %}

{% blocktrans %}
Ви отримали цей лист, оскільки надійшла запит на скидання пароля для вашого облікового запису.
{% endblocktrans %}

{% blocktrans %}
Будь ласка, перейдіть за посиланням нижче, щоб встановити новий пароль:
{% endblocktrans %}

{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Встановити новий пароль
</a>
{% endblock %}

{% blocktrans %}
Якщо ви не подавали запит на скидання пароля, ігноруйте цей лист.
{% endblocktrans %}

{% blocktrans %}
Дякуємо,
Адміністрація сайту
{% endblocktrans %}
